<!-- INCLUDE overall_header.html -->

<h1>{L_SETTINGS}</h1>
{% if COGAUTH_ACP_MODE == 'aws_access' || COGAUTH_ACP_MODE == 'misc'%}
<!--suppress HtmlUnknownTarget -->
<form id="acp_board" method="post" action="{U_ACTION}">
	<fieldset>
		{% if COGAUTH_ACP_MODE == 'aws_access' %}
		<legend>{L_APC_COGAUTH_AWS_ACCESS_KEY}</legend>
		<dl>
			<dt><label for="cogauth_aws_region">{L_COGAUTH_AWS_REGION}{L_COLON}</label><br /><span>{COGAUTH_AWS_REGION_EXPLAIN}</span></dt>
			<dd><input type="text" id="cogauth_aws_region" size="40" name="cogauth_aws_region" value="{COGAUTH_AWS_REGION}" /></dd>
		</dl>

		<dl>
			<dt><label for="cogauth_aws_key">{L_COGAUTH_AWS_KEY}{L_COLON}</label><br /><span>{COGAUTH_AWS_KEY_EXPLAIN}</span></dt>
			<dd><input type="text" id="cogauth_aws_key" size="40" name="cogauth_aws_key" value="{COGAUTH_AWS_KEY}" /></dd>
		</dl>
		<dl>
			<dt><label for="cogauth_aws_secret">{L_COGAUTH_AWS_SECRET}{L_COLON}</label><br /><span>{COGAUTH_AWS_SECRET_EXPLAIN}</span></dt>
			<dd><input type="text" id="cogauth_aws_secret" size="40" name="cogauth_aws_secret" value="{COGAUTH_AWS_SECRET}" /></dd>
		</dl>

		{% elseif COGAUTH_ACP_MODE == 'misc' %}
		<legend>{L_APC_COGAUTH_CRON_ACCESS_TOKENS}</legend>
		<dl>
			<dt><label for="cogauth_token_cleanup_gc">{L_ACP_COGAUTH_TOKEN_CLEANUP}{L_COLON}</label><br>
				<span>{L_ACP_COGAUTH_TOKEN_CLEANUP_EXPLAIN}</span></dt>
			<dd><input type="number" min="1" max="1440" id="cogauth_token_cleanup_gc" name="cogauth_token_cleanup_gc" value="{COGAUTH_TOKEN_CLEANUP}"/> {LMINUTES}</dd>
		</dl>

		{% endif %}
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		</p>
		{S_FORM_TOKEN}
	</fieldset>
</form>
{% endif %}

{% if COGAUTH_ACP_MODE == 'user_pool' %}
<!--suppress HtmlUnknownTarget -->
<form id="acp_board_create_user_pool" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_APC_COGAUTH_AWS_CREATE_USER_POOL}</legend>
		<dl>
			<dt><label for="cogauth_new_pool_name">{L_COGAUTH_POOL_NAME}{L_COLON}</label><br /><span>{COGAUTH_POOL_NAME_EXPLAIN}</span></dt>
			<dd><input type="text" id="cogauth_new_pool_name" size="40" name="cogauth_new_pool_name" value="{COGAUTH_NEW_POOL_NAME}" /></dd>
		</dl>

		<p class="submit-buttons">
			<input class="button" type="submit" id="create_user_pool" name="create_user_pool" value="{L_SUBMIT}" />&nbsp;
		</p>
	{S_FORM_TOKEN}
	</fieldset>
</form>
<!--suppress HtmlUnknownTarget -->
<form id="acp_board_use_user_pool" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_APC_COGAUTH_AWS_USE_USER_POOL}</legend>
		<dl>
			<dt><label for="cogauth_pool_id">{L_COGAUTH_POOL_ID}{L_COLON}</label><br /><span>{COGAUTH_POOL_ID_EXPLAIN}</span></dt>
			<dd><input type="text" id="cogauth_pool_id" size="40" name="cogauth_pool_id" value="{COGAUTH_POOL_ID}" /></dd>
		</dl>
		<dl>
			<dt><label>{L_COGAUTH_POOL_NAME}{L_COLON}</label><br /><span>{COGAUTH_POOL_NAME_EXPLAIN}</span></dt>
			<dd>{COGAUTH_POOL_NAME}</dd>
		</dl>

		<p class="submit-buttons">
			<input class="button" type="submit" id="use_user_pool" name="use_user_pool" value="{L_SUBMIT}" />&nbsp;
		</p>
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!--suppress HtmlUnknownTarget -->
<form id="acp_board_use_app_client" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_APC_COGAUTH_AWS_APP_CLIENT}</legend>
		<dl>
			<dt><label for="cogauth_app_client_id">{L_COGAUTH_APP_CLIENT_ID}{L_COLON}</label><br /><span>{COGAUTH_APP_CLIENT_ID_EXPLAIN}</span></dt>
			<dd><input type="text" id="cogauth_app_client_id" size="40" name="cogauth_app_client_id" value="{COGAUTH_APP_CLIENT_ID}" /></dd>
		</dl>
		<dl>
			<dt><label>{L_COGAUTH_APP_NAME}{L_COLON}</label><br /><span>{COGAUTH_APP_NAME_EXPLAIN}</span></dt>
			<dd>{COGAUTH_CLIENT_NAME}</dd>
		</dl>
		<dl>
			<dt><label for="cogauth_refresh_token_expiration_days">{L_CA_AUTOLOGIN_LENGTH}{L_COLON}</label><br>
				<span>{L_CA_AUTOLOGIN_LENGTH_EXPLAIN}</span></dt>
			<dd><input type="number" min="1" max="3650"  id="cogauth_refresh_token_expiration_days" name="cogauth_refresh_token_expiration_days"
					   value="{COGAUTH_REFRESH_TOKEN_EXP_DAYS}"/> {L_DAYS}</dd>
		</dl>
		<p class="submit-buttons">
			<input class="button" type="submit" id="use_app_client" name="use_app_client" value="{L_SUBMIT}" />&nbsp;
		</p>
		{S_FORM_TOKEN}
	</fieldset>
</form>
{% elseif COGAUTH_ACP_MODE == 'misc' %}
<!--suppress HtmlUnknownTarget -->
<form id="acp_board_clean_access_tokens" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_APC_COGAUTH_PURGE_ACCESS_TOKENS}</legend>
		<dl>
			<dt><label for="clean_access_tokens">{L_APC_COGAUTH_PURGE_TOKENS}</label><br>
				<span>{L_APC_COGAUTH_PURGE_TOKENS_EXPLAIN}</span>
			</dt>
			<dd><input type="hidden" name="clean_access_tokens" value="{L_SUBMIT}">
				<input class="button2" type="submit" id="clean_access_tokens" name="clean_access_tokens" value="{L_RUN}">
			</dd>
		</dl>
		{S_FORM_TOKEN}
	</fieldset>
</form>

{% endif %}


<!-- INCLUDE overall_footer.html -->
